$image-fonts-path          : "../../../fonts/";
$fa-font-path              : "../../../fonts/";
$image-theme-path          : "../../../images/";
$image-theme-skin			: "../../../images/"; 
$body-bg					:#fbfbfb;
$theme-color               : #78c469;
$theme-color-secondary		: #2d357e;
$link-hover-color			:$theme-color;
$brand-primary              :$theme-color;
$topbar-bg					:transparent;
$topbar-color				:#999;
$topbar-link-color			:#999;
$footer-bg					:transparent;
$footer-inner-bg			:#fff;
$copyright-bg				:$theme-color-secondary;
$mainmenu-bg				:$theme-color-secondary; 
$navbar-link-color			:#fff;
$navbar-link-hover-color	:#fff;
$navbar-link-padding		:24px 0; 
$panel-bg                   :transparent!default;