$image-fonts-path           : "../../../fonts/";
$fa-font-path              : "../../../fonts/";
$image-theme-path          : "../../../images/";
$image-theme-skin			: "../../../images/";
$theme-color               : #dc2652;
$theme-color-secondary		: #2d357e;
$link-hover-color			:$theme-color;
$brand-primary              :$theme-color;
$topbar-bg					:transparent;
$topbar-color				:#999;
$topbar-link-color			:#999;
$copyright-bg				:$theme-color-secondary;
$mainmenu-bg				:$theme-color-secondary; 
$navbar-link-color			:#fff;
$navbar-link-padding		:24px 0;